.password-input-container {
  position: relative;
}

.password-input-container .form-control {
  padding-right: 2.5rem; /* Add padding to make space for the icon */
}

.password-toggle-icon {
  position: absolute;
  right: 10px; /* Adjust based on your design */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
}

.password-toggle-icon:hover {
  color: #495057;
}
